@font-face {
  font-family: "Manaspace";
  src: url(../Assets/manaspace/manaspc.ttf);
}

.title-card {
  font-family: "Manaspace";
  color: #f4ff61;
  text-align: center;
  margin-top: 100px;
}

/* .search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
} */
.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.search-message{
font-family: "Manaspace";
  color: #f4ff61;
  text-align: center;
  height: 150vh;
  background-color:  #113e6e;
  margin-top: 50px;
}